body
{
    background-color: powderblue;
}
h1
{
    color: blue;
    font-family: Verdana;
}
p
{
    color: red;
    font-family: Courier;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
}
#p01
{
    color: magenta;
}
p.error
{
    color: lightcyan;
}
